################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MsGraphSkillsSample/MsGraphSkillsSample/appsettings.Development.json
